:root {
  --black: #000000;
  --yellow: #f6ff00;
  --red: #f80202;
}
a {
  text-decoration: none;
}
body {
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: var(--black);
}
.container {
  z-index: 9999;
}
.navbar {
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  display: flex;
  padding: 20px;
  position: fixed;
  border-bottom: 1px solid var(--yellow);
  background-color: #000000;
  height: 40px;
}

.navbar-logo h1 {
  color: var(--yellow);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 30px;
  margin: auto 50px;
  font-weight: 600;
  text-align: center;
}

.navbar-logo span:hover {
  color: var(--red);
}

.navbar-menu a {
  color: var(--yellow);
  margin-right: 40px;
  border-bottom: 1px solid #f6ff00;
  padding-bottom: 5px;
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  font-weight: 400;
}

.navbar-menu a:hover {
  border-bottom: 1px solid var(--red);
  color: var(--red);
}
.hero {
  color: #f6ff00;
}
.satu h1 {
  background-color: #f80202;
  min-height: 100vh;
  margin-top: 80px;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
}
.dua h1 {
  background-color: #f80202;
  min-height: 100vh;
  margin-top: -30px;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
}
.tiga h1 {
  background-color: #f80202;
  min-height: 100vh;
  margin-top: -30px;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
}
.empat h1 {
  background-color: #f80202;
  min-height: 100vh;
  margin-top: -30px;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
}
